.u-slider {
    position: relative;
    display: inline-block;

    &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        top: 8px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 3px;
    }

    &.seeking {
        &:after {
            background-position: 4000px 0;
            background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.7) 5px, rgba(255, 255, 255, 0.7) 7px);
            animation-name: seeking;
            animation-duration: 100s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}
.u-slider .value {
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
}
.u-slider .handle {
    position: absolute;
    width: 14px;
    height: 14px;
    z-index: 10;
}
.u-slider .handle:after {
    content: '';
    display: block;
    position: relative;
}
.u-slider-x .handle:after {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 15px #fff;
}
.u-slider-x {
    height: 20px;
}
.u-slider-x .handle {
    height: 100%;
}
.u-slider-x .handle:after {
    top: 2px;
    left: -6px;
}
.u-slider-x .value {
    top: 8px;
    height: 4px;
}

@keyframes seeking {
    0% {background-position: 0 0;}
    100% {background-color: -9999999px 0;}
}