/**
 * Animation definitions
 */
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

/**
 * Global
 */
#sh-player-wrapper svg {
    fill: currentColor;
    stroke: currentColor;
}

/**
 * Panels
 */

.sh-panel-title {
    margin: 0 0 10px;
    font-size: 1.25rem;
    color: #333;
}

.sh-panel-header {
    border-bottom: 1px solid #ccc;
}

.sh-panel-body {
    padding-top: 15px;
}

/**
 * Lists
 */

.sh-series-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.88rem;
}

.sh-series-item {
    min-height: 40px;

    .sh-item-link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        color: #777;
        transition: color 0.3s ease;

        > span {
            display: block;
            line-height: 1.4;
        }
    }

    &.is-active .sh-item-link,
    .sh-item-link:hover {
        color: #d82e2e;
    }
}

/**
 * Header
 */
.sh-player-jumbo {
    display: flex;
    align-items: flex-end;
    width: 100%;

    @media (min-width: 768px) {
        height: 140px;
    }

    &,
    .active .sticky-inner-wrapper {
        background: #DA4453;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    }
}

/**
 * Controls
 */
.sh-player-controls {
    width: 100%;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.6);
}

.sh-control-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sh-control-buttons svg {
    vertical-align: middle;
    display: block;
}

.sh-control-seek {
    vertical-align: top;
    width: 100%;
    margin: 18px 0;
}

.sh-control-volume {
    vertical-align: top;
    width: 100px;
    margin: 18px 0;
}

.sh-control-prev,
.sh-control-play,
.sh-control-pause,
.sh-control-next {
    vertical-align: middle;
    display: inline-block;
    color: #fff;
}

.sh-control-pause,
.sh-control-play {
    padding: 10px;
}

.sh-control-prev,
.sh-control-next {
    padding: 22px;
}

.sh-control-prev,
.sh-control-next {
    &.disabled {
        color: #f00;
    }
}

.sh-player-controls2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sh-player-seeker {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sh-player-timer {
        text-align: right;
        white-space: nowrap;
        padding-left: 15px;
        color: #fff;
    }
}

.form-control.sh-control-search,
.form-control.sh-control-filter-series {
  height: 38px;
  border: 1px solid #868686;
}

/**
 * Playlist
 */

.sh-playlist {
    padding-top: 20px;
    margin-bottom: 40px;
}

.sh-player-playlist {
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
    list-style: none;
    
    @media (min-width: 480px) {
        display: grid;
        grid-template-columns: 22.25% 22.25% 22.25% 22.25%;
        grid-column-gap: 3.75%;
        grid-row-gap: 30px;
    }
    
    @media (min-width: 992px) {
        grid-template-columns: 17% 17% 17% 17% 17%;
        grid-column-gap: 3.75%;
        grid-row-gap: 30px;
    }
    
    @media (max-width: 479px) {
        .sh-playlist-item {
            + .sh-playlist-item {
                margin-top: 10px;
            }
        }
    }
}

.sh-podcast-disc {
    cursor: pointer;
    display: block;
    
    @media (max-width: 479px) {
        display: flex;
        align-items: center;
        
        .sh-podcast-image {
            margin-right: 10px;
        }
    }
}

.sh-podcast-details {
    padding: 5px 0;
    line-height: 1;
}

.sh-podcast-thumb-4x3,
.sh-podcast-thumb-16x9 {
    display: block;
    max-width: 100%;
    height: auto;
}

.sh-podcast-image {
    position: relative;

    &:after {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.75);
        transition: background-color 0.3s ease, opacity 0.05s ease;
        
        @media (min-width: 480px) {
            content: '';
        }
    }

    .sh-podcast-state {
        transition: color 0.3s cubic-bezier(.46,.03,.52,.96);
        
        @media (min-width: 480px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
            color: #fff;
        }
    }
}

.sh-player-placeholder {
    .sh-series-item {
        min-height: 0;

        &:first-child {
            margin-top: 10px;

            .sh-item-link {
                background-color: #d82e2e;
            }
        }

        + .sh-series-item {
            margin-top: 20px;
        }

        .sh-item-link {
            display: block;
            width: 86%;
            height: 20px;
            line-height: 20px;
            background-color: #ccc;
        }

        &:nth-child(2n-1) {
            .sh-item-link {
                width: 77%;
            }
        }
    }

    .sh-playlist-item {
        &:nth-child(2n-1) {
            .sh-podcast-disc {
                .sh-podcast-image {
                    @media (min-width: 480px) {
                        background-color: #383445;
                    }
                }
            }
        }
    }

    .sh-podcast-image {
        background-color: transparent;

        @media (min-width: 480px) {
            height: 0;
            padding-bottom: 100%;
            background-color: #8f8ba2;
        }

        > img {
            @media (max-width: 479px) {
                display: none;
            }
        }
    }
    
    .sh-podcast-details {
        @media (max-width: 479px) {
            width: 100%;
        }
    }
    
    .sh-podcast-title {
        clear: both;
        display: block;
        width: 86%;
        height: 15px;
        background-color: #ccc;
    }
    
    .sh-podcast-author {
        clear: both;
        display: block;
        width: 66%;
        height: 12px;
        margin-top: 2px;
        background-color: #ccc;
    }
    
    .sh-podcast-duration {
        clear: both;
        display: block;
        width: 55%;
        height: 13.4px;
        margin-top: 2px;
        background-color: #ccc;
    }
}

.sh-playlist-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.sh-playlist-title {
    padding-bottom: 9px;
    margin-top: 0;
    margin-bottom: 0;
}

.sh-playlist-item {
    position: relative;

    @media (min-width: 480px) {
        .icon-pause,
        .icon-play {
            display: none;
        }

        &.is-pause,
        &.is-loaded,
        &.is-playing:hover {
            .icon-pause {
                display: block;
            }

            .icon-play {
                display: none;
            }
        }

        &.is-idle:hover,
        &.is-pause:hover,
        &.is-loaded:hover,
        &.is-playing {
            .icon-play {
                display: block;
            }

            .icon-pause {
                display: none;
            }
        }
    }
    
    @media (max-width: 480px) {
        .icon-play {
            display: none;
        }
        
        .icon-pause {
            display: block;
        }

        &.is-idle,
        &.is-loaded,
        &.is-pause {
            .icon-play {
                display: block;
            }

            .icon-pause {
                display: none;
            }
        }
    }

    &.is-pause,
    &.is-playing {
        .sh-podcast-state {
            @media (min-width: 480px) {
                color: #fff;
            }
        }
    }


    &.is-idle:hover,
    &.is-pause:hover,
    &.is-loaded:hover,
    &.is-playing:hover {
        .sh-podcast-state {
            @media (min-width: 480px) {
                color: #cfcfcf;
            }
        }
    }

    &.is-idle:hover,
    &.active {
        .sh-podcast-image {
            &:after {
                opacity: 1;
            }
        }
    }
    
    &.is-idle {
        .icon-play {
            @media (max-width: 479px) {
                display: block;
            }
        }
    }
    
    .sh-podcast-image {
        > img {
            @media (max-width: 479px) {
                display: none;
            }
        }
    }
}

.sh-podcast-title {
    display: block;
    line-height: 1.2;
    font-family: 'Lato';
    font-size: 0.75rem;
    font-weight: 900;
    color: #000;
    
    @media (min-width: 768px) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.sh-podcast-author {
    display: block;
    margin-top: 2px;
    font-size: 0.75rem;
    color: #999;
}

.sh-podcast-duration {
    font-size: 0.75rem;
    color: #777;
}

.sh-podcast-loader {
    overflow: hidden;
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    background-color: #ecacac;

    > div {
        background-color: #e92323;

        &:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: indeterminate 1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }

        &:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: indeterminate-short 1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite .15s;
        }
    }
}

.sh-playlist-pager {
    margin-top: 20px;
}

.sh-btn-prev,
.sh-btn-next {
    padding: 7px 9px;
    border: 1px solid;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-family: 'Lato';
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 30px;
    
    @media (max-width: 767px) {
        display: block;
        width: 100%;
    }
    
    &:hover {
        background-color: #ccc;
    }
}

/**
 * Sidebars
 */

.sh-player-sidebar-left,
.sh-player-sidebar-right {
    padding-top: 30px;
}