.sticky-outer-wrapper {
    width: 100%;
    
    &.active {
        z-index: 1000;
    }
}

@media (max-width: 767px) {
    .sticky-inner-wrapper {
        position: static !important;
        transform: none !important;
    }
}